.shadow-name {
    color: #FFFFFF;
    text-shadow: 0px 0px 16.5px #FFFFFF;
}

.glow-name {
    background: url('/assets/name/glow.gif');
}

.rainbow-name {
    background: url('/assets/images/name/rainbow.gif');
    font-weight: bold;
    color: transparent !important;
    -webkit-background-clip: text;
}